@media screen and (max-width: 1700px) {
    header .upperContainer .semi-nav-block {
        width: 30vw;
    }    
}

@media screen and (max-width: 1410px) {
    header .upperContainer .semi-nav-block {
        width: 35vw;
    }    

    main .bottom-right-container-sh p {
        font-size: 2em !important; 
    }
}

@media screen and (max-width: 1225px) {
    header .upperContainer .semi-nav-block {
        width: 40vw;
    }   

    main .bottom-left-block{
        font-size: 3em !important; 
    }
}

@media screen and (max-width: 1070px) {
    header .upperContainer .semi-nav-block {
        width: 45vw;
    }  
    main .bottom-right-container {
        width: 35vw !important;
    }
    main .title {
        font-size: 6em !important;
    }
}


@media screen and (max-width: 950px) {
    header .upperContainer .semi-nav-block {
        width: 70vw;
    }  
    main .title {
        font-size: 6em;
    }
}

@media screen and (max-width: 780px) {
    main .title {
        font-size: 5em !important;
    }

    main .bottom-right-container-sh{
        display: none;
    }

    main .bottom-left-block{
        font-size: 2.2em !important; 
    }

}

@media screen and (max-width: 670px) {
    header .upperContainer img[alt="Erasmus+"] {
        width: 85px;
        height: 70px;
        margin-left: 5px;
        object-fit: cover;
        object-position: 0 0;
    }

    header .upperContainer .semi-nav-block {
        width: 85vw;
    }  
}

@media screen and (max-width: 530px) {
    .upperContainer a {
        padding: 10px 20px !important;
    }

    main .bottom-right-container {
        width: 40vw !important;
    }

    main .bg-video {
        object-position: 40%;
    }

    .lowerContainer a {
        margin: 0 10px !important;
    }
}

@media screen and (max-width: 470px) {
    header .upperContainer .RightsReserved {
        width: 27px;
        height: 27px;
    } 

    main .bottom-content {
        flex-wrap: wrap;
    }

    main .bottom-left-block {
        width: 100vw !important;
        word-wrap: break-word;
        text-align: center;
        margin: 0;
    }

    main .bottom-right-container {
        width: 100vw !important;
    }

    main .title {
        text-align: center;
        line-height: 90px !important;
    }
}

@media screen and (max-width: 430px) {
    header .upperContainer {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    header .upperContainer {
        height: 16vh;
    }
}

@media screen and (max-width: 380px) {
    header .upperContainer a {
        padding: 13px 40px;
        text-decoration: none;
        font-weight: 600;
        font-size: 1em;
    }

    header .lowerContainer a {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 350px) {
    header .upperContainer .RightsReserved {
        width: 20px;
        height: 20px;
    }
    
    main .title {
        font-size: 4em !important;
    }
}