@media screen and (min-width: 1281px) { 
    main .image-slider .slide {
        width: 1000px;
        height: 546px;
    }

    main .slider-button { 
        width: 200px;
        height: 550px;
    }
}

@media screen and (max-width: 1280px) { 

    main .image-slider .slide {
        width: 800px;
        height: 450px;

        transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);

    }

    main .slider-button { 
        width: 160px;
        height: 450px;
    }
}

@media screen and (max-width: 1050px) { 
    main .image-slider .slide {
        width: 100%;
        max-width: 600px;
        height: 400px;
    }

    main .slider-button { 
        width: 140px;
        height: 400px;
    }

    main .image-description {
        padding: 60px 20px;
        font-size: 2em;
    }
}

/*----------------------Will change from this place---------------------------*/

@media screen and (max-width: 880px) { 
    main .container {
        margin-top: 18%;
        margin-bottom: 15%;
        height: 100%;
    }

    main .image-slider {
        width: 100%;
    }
    
    main .image-slider .slide {
        width: 90%;
        margin: 0 5% 0 5%;
    }

    main .image-description {
        width: 100%;
    }

    main .image2 {
        transform: scale(0.85) translate(0, 24%);
    }

    main .image3 {
        transform: scale(0.85) translate(0, 18%);
    }

    main .image4 {
        transform: scale(0.85) translate(0, -24%);
    }  
      
    main .image5 {
        transform: scale(0.85) translate(0, -18%);
    }    

    main .slider-button {
        max-width: 550px;
        width: 90%;
        height: 100px;
    }

    main .move-right {
        transform: translate(0%, 180%);
    }

    main .move-left {
        transform: translate(0%, -180%);
    }

    main .image-description {
        padding: 50px 20px;
    }
}

@media screen and (max-width: 427px) {
    main .image-slider .slide {
        max-height: 300px;
      }

    main .container {
        margin-top: 24%;
        margin-bottom: 15%;
        height: 100%;
    }

    main .slider-button {
        height: 60px;
    }

    main .move-right {
        transform: translate(0%, 240%);
    }

    main .move-left {
        transform: translate(0%, -240%);
    }

    main .image-description {
        padding: 30px 20px;
        font-size: 1.4em;
    }
}

@media screen and (max-width: 375px) and (max-height: 811px) { 
    main .container {
        margin-top: 6%;
    }
    main .image2 {
        z-index: -1;
    }

    main .image4 {
        z-index: -1;
    }    
    
    main .image-slider .slide {
        max-height: 268px;
    }    
    
    main .move-right {
        transform: translate(0%, 200%);
    }

    main .move-left {
        transform: translate(0%, -200%);
    }

}

