@media screen and (max-width: 1600px) { 
    main .image-slider .slide {
        width: 1000px;
        height: 546px;
    }

    main .slider-button { 
        width: 200px !important;
        height: 550px !important;
    }
}

@media screen and (max-width: 1280px) { 
    main .image1 {
        transform: scale(1) translate(0px, -15%) !important; 
    }

    main .image-slider .slide {
        width: 800px !important;
        height: 450px !important;
    }

    main .slider-button { 
        width: 160px !important;
        height: 450px !important;
    }
    
    main .slider-button { 
        margin-bottom: 12% !important;
     }
}

@media screen and (max-width: 1050px) { 
    main .image1 {
        transform: scale(1) translate(0px, -15%) !important; 
    }    
    
    main .image-slider .slide {
        width: 600px !important;
        height: 400px !important;
    }

    main .slider-button { 
        width: 140px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 880px) { 
    main .image1 {
        transform: scale(1) translate(0px, -25%) !important; 
    }    

    main .slider-button { 
        margin-bottom: 18% !important;
     }
    
    main .image-slider .slide {
        width: 550px !important;
        height: 320px !important;
    }

    main .slider-button { 
        width: 120px !important;
        height: 350px !important;
    }
}