header .container {
    height: 10vh;
    background: rgba(0, 0, 0);
}

header .container {
    flex-wrap: wrap;
}

header .container .upperContainer, header .container .lowerContainer {
    width: 100%;
}

/*===================Upper Container in the header===================*/

header .upperContainer img[alt="Erasmus+"] {
    width: 250px;
    height: 70px;
}

header .upperContainer .RightsReserved {
    width: 40px;
    height: 40px;
    background-color: white;
    mask-image: url("/images/Copyright-Symbol-R.png");
    mask-size: 100% 100%;
    mask-repeat: no-repeat;

}

header .upperContainer > a {
    padding: 20px;
}

header .upperContainer .button-link-f {
    background-color: rgb(255, 191, 0);
    border: rgb(255, 191, 0) solid 2px;
}

header .upperContainer .button-link-s {
    background-color: transparent;
    border: white solid 2px;
}

/*===================Lower Container in the header===================*/