<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus Web Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header_footer/header_footer.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main-content/main.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main-content/city-main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body>
    <header class="container-fluid">
        <div class="container">
            <div class="upperContainer d-flex">
                <img src="/images/Erasmus+Logo.png" alt="Erasmus+">
                <div class="semi-nav-block d-flex">
                    <a href="#" class="button-link-f">What's it</a>
                    <a href="#" class="button-link-s">What's it</a>
                    <div class="RightsReserved"></div>
                </div>
            </div>
            <div class="lowerContainer d-flex">
                <nav>
                    <a href="/">Home</a>
                    <a href="/work_experience">Work Experience</a>
                    <a href="/free_time">Free time</a>
                    <a href="/City">City</a>
                </nav>
            </div>
        </div>
    </header>


    <main class="container-fluid">
        <div class="container">
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage0.jpg" alt="">
                <figcaption>
                    <h2>Leipzig City</h2>
                    Leipzig is a city in eastern Germany, located at the confluence of the Weisse-Elster, Plaisse and Parte rivers. The largest city in the federal state of Saxony. The tenth most populous city (about 600 thousand people) in Germany. The distance to Berlin is less than 200 kilometers, to Dresden - about 100 kilometers. The history of Leipzig began in the 8th century, when a Slavic settlement of Lusatian Serbs was formed on both banks of the Patra River, called Lipsk, that is, “under the linden trees” or “city of linden trees.”
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage1.jpeg" alt="">
                <figcaption>
                    <h2>Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last surviving significant works of Renaissance architecture in Germany. A special feature of the town hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage2.png" alt="">
                <figcaption>
                    <h2>Leipzig University</h2>
                    Leipzig University (Universität Leipzig) is the second oldest higher education institution in Germany (after the University of Heidelberg). Founded in 1409. Students at the University of Leipzig over the years included composers Richard Wagner and Robert Schumann, poets and writers Johann Wolfgang Goethe, Mikhail Prishvin and Alexander Radishchev, philosophers Friedrich Nietzsche and Gottfried Wilhelm Leibniz, politicians Karl Liebknecht and Angela Merkel.
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage3.jpg" alt="">
                <figcaption>
                    <h2>Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last surviving significant works of Renaissance architecture in Germany. A special feature of the town hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage4.jpg" alt="">
                <figcaption>
                    <h2>Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last surviving significant works of Renaissance architecture in Germany. A special feature of the town hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage5.jpg" alt="">
                <figcaption>
                    <h2>Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last surviving significant works of Renaissance architecture in Germany. A special feature of the town hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage6.jpeg" alt="">
                <figcaption>
                    <h2>Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last surviving significant works of Renaissance architecture in Germany. A special feature of the town hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage7.jpeg" alt="">
                <figcaption>
                    <h2>Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last surviving significant works of Renaissance architecture in Germany. A special feature of the town hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage8.jpg" alt="">
                <figcaption>
                    <h2>Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last surviving significant works of Renaissance architecture in Germany. A special feature of the town hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage9.jpg" alt="">
                <figcaption>
                    <h2>Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last surviving significant works of Renaissance architecture in Germany. A special feature of the town hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage10.jpeg" alt="">
                <figcaption>
                    <h2>Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last surviving significant works of Renaissance architecture in Germany. A special feature of the town hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init({
        offset: 200,
        duration: 1000,
        easing: 'ease-in-out',
        delay: 300,
        once: true,
        mirror: false, // Анимация не повторяется при прокрутке вверх
        anchorPlacement: 'top-bottom' // Запуск анимации, когда верхняя часть элемента достигает нижней части окна
        });
    </script>
</body>

</html>
