<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus Web Page</title>
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header_footer/header_footer.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main-content/city-main.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/responsive/responsive_header_footer.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/responsive/responsive_city_main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body>
    <header class="container-fluid">
        <div class="container d-flex">
            <div class="upperContainer d-flex">
                <img src="/images/Erasmus+Logo.png" alt="Erasmus+">
                <div class="semi-nav-block d-flex">
                    <a href="https://www.erasmusplus.de/" class = "button-link-f">What's it DE</a>
                    <a href="https://erasmus-plus.ec.europa.eu/" class = "button-link-s">What's it EU</a>
                    <div class="RightsReserved"></div>
                </div>
            </div>
            <div class="lowerContainer">
                <nav class="d-flex">
                    <a href="/">Home</a>
                    <a href="/work_experience">Work Experience</a>
                    <a href="/free_time">Free time</a>
                    <a href="/City">City</a>
                </nav>
            </div>
        </div>
    </header>


    <main class="container-fluid">
        <div class="container d-flex">
            <figure class="ImageBox" data-aos="fade-right">
                <img src="/images/City_Images/CityImage0.jpg" alt="">
                <figcaption>
                    <h2>Leipzig City</h2>
                    Leipzig is a city in eastern Germany, located at the confluence of the Weisse-Elster, Plaisse and
                    Parte rivers. The largest city in the federal state of Saxony. The tenth most populous city (about
                    600 thousand people) in Germany. The distance to Berlin is less than 200 kilometers, to Dresden -
                    about 100 kilometers. The history of Leipzig began in the 8th century, when a Slavic settlement of
                    Lusatian Serbs was formed on both banks of the Patra River, called Lipsk, that is, “under the linden
                    trees” or “city of linden trees.”
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-left">
                <img src="/images/City_Images/CityImage1.jpeg" alt="">
                <figcaption>
                    <h2>Leipzig Markt</h2>
                    The historical center of Leipzig is the adjacent Market Square (Markt) and Naschmarkt square, which
                    are separated by the Old Town Hall (Altes Rathaus), built in 1556-1557. and is one of the last
                    surviving significant works of Renaissance architecture in Germany. A special feature of the town
                    hall is the asymmetrical location of the tower.
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-right">
                <img src="/images/City_Images/CityImage2.png" alt="">
                <figcaption>
                    <h2>Leipzig University</h2>
                    Leipzig University (Universität Leipzig) is the second oldest higher education institution in
                    Germany (after the University of Heidelberg). Founded in 1409. Students at the University of Leipzig
                    over the years included composers Richard Wagner and Robert Schumann, poets and writers Johann
                    Wolfgang Goethe, Mikhail Prishvin and Alexander Radishchev, philosophers Friedrich Nietzsche and
                    Gottfried Wilhelm Leibniz, politicians Karl Liebknecht and Angela Merkel.
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-left">
                <img src="/images/City_Images/CityImage3.jpg" alt="">
                <figcaption>
                    <h2>Riesenrad</h2>
                    The Leipzig Ferris Wheel, also known as the "Riesenrad", is one of the city's popular attractions.
                    It is located in an amusement park and offers breathtaking views of the city and its surroundings.
                    The height of the wheel is about 45 meters and it is equipped with closed cabins, allowing you to
                    enjoy the view in any weather.In the evening, the wheel is illuminated with colorful lights,
                    creating a magical atmosphere.
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-right">
                <img src="/images/City_Images/CityImage4.jpg" style="object-position: center -120px;" alt="">
                <figcaption>
                    <h2>New Town Hall</h2>
                    The New Town Hall is the city government building, built in 1897 on the site of the city castle of
                    Plaissenburg. The New Town Hall, built in the eclectic style fashionable for that time, occupies an
                    area of ​​about 10 thousand square meters, being one of the largest administrative buildings in the
                    world. The tower is made of stone and has a distinctive dome with a weather vane on top.
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-left">
                <img src="/images/City_Images/CityImage5.jpg" alt="">
                <figcaption>
                    <h2>Thomaskirche</h2>
                    Church of St. Thomas (Thomaskirche) is the second most important church in the city, built around
                    the same time as the Church of St. Nicholas. Church of St. Thomas is a world-famous landmark thanks
                    to the work of Johann Sebastian Bach, who led the church choir there. The grave of the great
                    composer is also located here.
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-right">
                <img src="/images/City_Images/CityImage6.jpeg" alt="">
                <figcaption>
                    <h2>Leipzig Markt station</h2>
                    Leipzig Markt station is located in the center of Leipzig and is part of the Leipzig City Tunnel
                    project. It was opened on December 15, 2013 and allows passengers to travel directly from Leipzig
                    Main Station (Leipzig Hauptbahnhof) to the Markt square and the city center.
                    The station is located 22 meters underground and has an island platform 140 meters long. The station
                    is served by seven of Mitteldeutschland's ten S-Bahn lines, allowing for high frequency service and
                    fast journeys.
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-left">
                <img src="/images/City_Images/CityImage7.jpeg" alt="">
                <figcaption>
                    <h2>Völkerschlachtdenkmal</h2>
                    The Monument to the Battle of the Nations (Völkerschlachtdenkmal) in Leipzig is one of the largest
                    monuments in Europe, 91 meters high. It was opened on October 18, 1913 in honor of the 100th
                    anniversary of the Battle of the Nations, which took place from October 16 to 19, 18131. In this
                    battle, a coalition of Russian, Austrian, Prussian and Swedish troops defeated the army of Napoleon
                    Bonaparte.
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-right">
                <img src="/images/City_Images/CityImage8.jpg" alt="">
                <figcaption>
                    <h2>Schkeuditz</h2>
                    Schkeuditz is a charming town in Saxony, Germany, combining historical heritage with modern
                    infrastructure. The first mention of the city dates back to the 10th century. It played an important
                    role in the region's transport and trade network due to its strategic location between Leipzig and
                    Halle. Schkeuditz is also proud of its proximity to Leipzig Airport/Halle, one of the region's
                    largest airports, making it an important transport hub.
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-left">
                <img src="/images/City_Images/CityImage9.jpg" alt="">
                <figcaption>
                    <h2>Schkeuditz nature</h2>
                    The nature around Schkeuditz offers many opportunities for active recreation and enjoying the fresh
                    air. The city also hosts a variety of cultural events and festivals, adding to its attraction for
                    locals and tourists. Schkeuditz is a place where history meets modernity, providing a unique
                    experience for all who visit.
                </figcaption>
            </figure>
            <figure class="ImageBox" data-aos="fade-right">
                <img src="/images/City_Images/CityImage10.jpeg" alt="">
                <figcaption>
                    <h2>Vitalis Gut Wehlitz</h2>
                    The Erasmus Campus Schkeuditz, also known as Vitalis Gut Wehlitz, is an important educational center
                    that welcomes students and teachers from all over Europe as part of the Erasmus+ program. The campus
                    is located on the historic Gut Wehlitz estate, just 12 km from the center of Leipzig. This is the
                    place where I spent these wonderful 3 weeks and gained a huge experience!
                </figcaption>
            </figure>
        </div>
    </main>
    <footer class="container-fluid" data-aos="fade-up">
        <nav class="container d-flex">
            <div class="innerNav d-flex">
                <img class="icon" src="/images/gihub-icon.png" alt="GitHub">
                <a href="https://github.com/llDMasteRll">GitHub</a>
            </div>
            <div class="innerNav d-flex">
                <img class="icon" src="/images/leetCode-icon.png" alt="LeetCode">
                <a href="https://leetcode.com/u/llMasteRll/">LeetCode</a>
            </div>
            <div class="innerNav d-flex">
                <img class="icon" src="/images/linkedin-logo.png" alt="LinkedIn">
                <a href="https://www.linkedin.com/in/denyspopov">LinkedIn</a>
            </div>
        </nav>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init({
            offset: 100,
            duration: 600,
            easing: 'linear',
            delay: 0,
            once: true,
            mirror: false,
            anchorPlacement: 'center-center'
        });
    </script>
</body>

</html>