<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus Web Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header_footer/header_footer.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main-content/main.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main-content/city-main.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
</head>

<body>
    <header class="container-fluid">
        <div class="container">
            <div class="upperContainer d-flex">
                <img src="/images/Erasmus+Logo.png" alt="Erasmus+">
                <div class="semi-nav-block d-flex">
                    <a href="#" class="button-link-f">What's it</a>
                    <a href="#" class="button-link-s">What's it</a>
                    <div class="RightsReserved"></div>
                </div>
            </div>
            <div class="lowerContainer d-flex">
                <nav>
                    <a href="/">Home</a>
                    <a href="/work_experience">Work Experience</a>
                    <a href="/free_time">Free time</a>
                    <a href="/City">City</a>
                </nav>
            </div>
        </div>
    </header>


    <main class="container-fluid">
        <div class="container">
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage0.jpg" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage1.jpeg" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage2.png" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage3.jpg" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage4.jpg" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage5.jpg" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage6.jpeg" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage7.jpeg" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage8.jpeg" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
            <figure class = "ImageBox d-flex">
                <img src="/images/City_Images/CityImage9.jpg" alt="">
                <figcaption>Leipzig</figcaption>
            </figure>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>
