<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus Web Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header_footer/header_footer.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/main-content/main.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/responsive/responsive_home.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>

    <header class="container-fluid">
        <div class="container d-flex" style="background-color: rgb(0, 0, 0, 0.7);">
            <div class="upperContainer d-flex">
                <img src="/images/Erasmus+Logo.png" alt="Erasmus+">
                <div class="semi-nav-block d-flex">
                    <a href="https://www.erasmusplus.de/" class = "button-link-f">What's it DE</a>
                    <a href="https://erasmus-plus.ec.europa.eu/" class = "button-link-s">What's it EU</a>
                    <div class="RightsReserved"></div>
                </div>
            </div>
            <div class="lowerContainer">
                <nav class="d-flex">
                    <a href="/">Home</a>
                    <a href="/work_experience">Work Experience</a>
                    <a href="/free_time">Free time</a>
                    <a href="/City">City</a>
                </nav>
            </div>
        </div>
    </header>
    <main class="container-fluid">
        <div class="container d-flex">
            <p class="title left-mrg">Erasmus+ PRACTICE</p>
            <div class="bottom-content d-flex">
                <p class="bottom-left-block left-mrg"><span style="color: #1e74c9; font-weight: 900">Express.js</span>
                    INSPIRED <br> erasmus experience in Germany</p>
                <div class="bottom-right-container">
                    <div class="bottom-right-container-fh">
                        <div class="icons">
                            <img class="icon" src="/images/gihub-icon.png" alt="GitHub">
                            <img class="icon" src="/images/leetCode-icon.png" alt="LeetCode">
                            <img class="icon" src="/images/linkedin-logo.png" alt="LinkedIn">
                        </div>
                        <div class="icons-description">
                            <a class="refs" href="https://github.com/llDMasteRll"> - GitHub</a>
                            <a class="refs" href="https://leetcode.com/u/llMasteRll/"> - LeetCode</a>
                            <a class="refs" href="https://www.linkedin.com/in/denyspopov"> - LinkedIn</a>
                        </div>
                    </div>
                    <div class="bottom-right-container-sh">
                        <p>Denys <br> Popov</p>
                    </div>
                </div>
            </div>

            <video class="bg-video overlay" autoplay loop muted playsinline>
                <source src="/videos/intro.mp4" type="video/mp4">
            </video>
        </div>
    </main>
</body>

</html>