<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus Web Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header_footer/header_footer.css" type = "text/css">
    <link rel="stylesheet" href="/stylesheets/main-content/main.css" type = "text/css">
</head>
<body>
    <header class="container-fluid">
        <div class="container d-flex">
            <div class="upperContainer">
                <img src="/images/Erasmus+Logo.png" alt="">
                <a href="#">What's it</a>
                <a href="#">What's it</a>
            </div>  
            <div class="lowerContainer">
                <nav>
                    <a href="#">some</a>
                    <a href="#">some</a>
                    <a href="#">some</a>
                    <a href="#">some</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="container-fluid">
        <div class="container d-flex">
            <div>
                <p class="title">Erasmus+ PRACTICE</p>
            </div>
            <video class="bg-video overlay" autoplay loop muted playsinline>
                <source src="/videos/intro.mp4" type="video/mp4">
            </video>
            <div>
                
            </div>
        </div>
    </main>
</body>
</html>