<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus Web Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/header_footer/header_footer.css" type = "text/css">
    <link rel="stylesheet" href="/stylesheets/main-content/main.css" type = "text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="container-fluid">
        <div class="container d-flex">
            <div class="upperContainer d-flex">
                <img src="/images/Erasmus+Logo.png" alt="Erasmus+">
                <div class = "semi-nav-block d-flex">
                    <a href="#" class = "button-link-f">What's it</a>
                    <a href="#" class = "button-link-s">What's it</a>
                    <div class = "RightsReserved"></div>
                </div>
            </div>  
            <div class="lowerContainer d-flex">
                <nav>
                    <a href="#">Home</a>
                    <a href="#">Free time</a>
                    <a href="#">City</a>
                    <a href="#">Gallery</a>
                </nav>
            </div>
        </div>
    </header>

    <main class="container-fluid">
        <div class="container d-flex">
            <div class="title">Erasmus+ PRACTICE</div>
            <video class="bg-video overlay" autoplay loop muted playsinline>
                <source src="/videos/intro.mp4" type="video/mp4">
            </video>
            <div>
                
            </div>
        </div>
    </main>
</body>
</html>