/*body {
  overflow: hidden;
}*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed";
}

.container-fluid {
  width: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

