main .container {
    flex-wrap: wrap;
}

main figure {
    margin: 70px 300px;
    display: flex;
}

main figure figcaption{
    align-self: flex-start;
    margin-left: 25px;
    font-family: "Comic Sans MS";
    font-size: 1.3em;
    flex-grow: 1;
}   

main figure figcaption h2 {
    font-size: 2em;
    font-family: "Comic Sans MS";
    margin-bottom: 15px;
}

main figure img {
    width: 520px;
    height: 320px;
    border: 5px solid black;
    border-radius: 20px;
    flex-shrink: 0;
    object-fit: cover;
}

main figure:nth-child(even) img {
        order: 2;
        margin-left: 25px; 
}

main figure:nth-child(even) figcaption {
        order: 1;
        margin-left: 0;
}

main figure:nth-child(even) figcaption h2 {
        text-align: end;
}