main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: start;
    height: 85vh;
}

.left-mrg {
    margin-left: 1vw;
}

main .title {
    color: #f4ede1;
    text-transform: uppercase;
    font-family: "Bebas Neue", serif;
    font-weight: 900;
    letter-spacing: 8px;
    font-size: 7.5em;
    line-height: 136px;
}

main .bottom-content {
    width: 100vw;
}

main .bottom-left-block {
    display: block;
    color: #f4ede1;
    text-transform: uppercase;
    font-family: "Bebas Neue", serif;
    font-size: 3.5em;
    width: 50vw;
}

main .bottom-right-container {
    width: 25vw;
    height: 20vh;
    background-color: rgb(255, 248, 236);
    border-radius: 6px 0px 0px 0px;
}

main .bottom-right-container-fh {
    display: flex;
    align-self: center;
}

main .bottom-right-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main .icons {
    width: 45px;
    height: 100%;
    margin: 7px 0px 6px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main .icons-description {
    height: 100%;
    margin: 7px 0px 6px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .icon {
    display: block;
    width: 35px;
    height: 35px;
}

main .icons img {
    margin: 10px 0;
}

main .icons-description a {
    margin: 13px 0;
}

main .bottom-right-container-sh p {
    font-size: 3em;
    font-weight: 700;
    color: black;
}

main img[alt="LinkedIn"] {
    width: 32px;
    height: 32px;
    font-size: 20px;
}

main .refs {
    color: #1a1b1a;
    text-decoration: none;
    font-size: 24px;
}

main .bg-video {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/*===================Free time page===================*/

