main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: start;
    height: 85vh;
}

.left-mrg {
    margin-left: 1vw;
}

main .title {
    color: #f4ede1;
    text-transform: uppercase;
    font-family: "Bebas Neue", serif;
    font-weight: 365;
    font-size: 120px;
    line-height: 136px;
}

main .bottom-content {
    width: 100vw;
}

main .bottom-left-block {
    display: block;
    color: #f4ede1;
    text-transform: uppercase;
    font-family: "Bebas Neue", serif;
    font-size: 80px;
    width: 50vw;
}

main .bottom-right-container {
    display: flex;
    align-self: self-end;
    background-color: #fff8ec;
    border-radius: 6px 0px 0px 0px;
    width: 25vw;
    height: 20vh;
    padding-bottom: 15px;
}

main .icons {
    width: 45px;
    height: 100%;
    margin: 7px 0px 6px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main .icons-description {
    height: 100%;
    margin: 7px 0px 6px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .icon {
    display: block;
    width: 35px;
    height: 35px;
}

main img[alt="LinkedIn"] {
    width: 32px;
    height: 32px;
    font-size: 20px;
}

main .refs {
    color: #1a1b1a;
    text-decoration: none;
    font-size: 24px;
}

main .bg-video {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/*===================Free time page===================*/

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    padding-top: 40px;
  }

  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 30px;
    color: white;
    font-weight: bold;
    font-size: 38px;
    transition: 0.6s ease;
    border-radius: 0 40px 40px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 40px 0px 0px 40px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 1.5em;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
    
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }