main .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 75vh;
}

main .title {
    color: #f4ede1;
    text-transform: uppercase;
    font-family: "Bebas Neue", serif;
    font-weight: 365;
    font-size: 120px;
    line-height: 136px;
    margin-left: 1vw;
}

.bg-video {
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}
